ul.Meniu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li.Meniu_li {
    float: right !important;
}

li a.Meniu_a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.Meniu_li a:hover.Meniu_a {
    background-color: #111;
}



