body
{
    background: whitesmoke;
    margin: 0;
    height: 100%;
    width: 100%;
}

.center-content
{
    position: absolute;
    display: block;
    overflow: auto;
    top: 8%;
    height: 90%;
    width: 100%;
}

footer{
   /* position: absolute;
    display: block;
    */
    overflow: hidden;
    position: absolute;
    text-align: center;
    width: 100%;
    background: whitesmoke;
    bottom: 0;
    height: auto;
}

.index-footer{
    width: 15%;
    background: transparent;
    color: rgba(0, 0, 0, 0.76);
    z-index: 0;
    position: fixed;
}

/*footer p {

    bottom: 10px;
    width: 100%;
}*/

/*Header*/
.menu-right
{
    float: right !important;
}

header
{
    list-style-type: none;
    top: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: absolute;
    height: 8%;
    width: 100%;
}

a {text-decoration: none;}


.top-link
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    height: 100%;
    font-size: 100%;
    float: left;
    position: relative;
}

.top-link:hover
{
    background-color: #111;
}


/* Logged in and logged out link display */
.logout-user
{
    display: none;
}
/* Table and it's contents */

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    top: 50%;
    padding-left: 50px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 10px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

/*Form*/

form {
    padding-left: 50px;
    top: 8%;
    font-size: 18px;
    position: absolute;
    width: 60%;
    left: 25%;


}

.link-form
{
    padding: 0;
    top: auto;
    font-size: 100%;
    width: auto;
    left: auto;
    height: 0;
    position: relative;

}

.link-in-form
{
    height: 40px; /*18*/
}

input
{
    font-size: 18px;
    width: 80%;
    border-radius: 2px;
    padding: 1%;
}

.nameInput
{
    width: 38.75%;
}


.form-buttons, #resetBtn, .login-btn
{
    width: 41%;
    border-radius: 4px;
}

.login-btn
{
    width: 81.5%;
}

/* Sidebar (re-used from w3schools)*/

/* The sidebar menu */
.sideNav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 15%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 8%;
    left: 0;
    background-color: rgba(17, 17, 17, 0.95); /* Black */
    overflow: auto;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

/* The navigation menu links */
.sideNav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sideNav a:hover {
    color: #f1f1f1;
}

/* Style page content */
.main {
    margin-left: 20%; /* Same as the width of the sidebar */
    padding: 0 10px;
    padding-bottom: 200px;
    padding-top: 20px;
}

.cart-main {
    margin-left: 0;
    padding: 0 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sideNav {padding-top: 15px;}
    .sideNav a {font-size: 18px;}

}

/*product list*/
/*to rewrite form tag for all products*/
.main-products{
    padding: 0px;
}

.all-products{
    width: 84%;
    margin-left: 16%;
    height: 100%;
    padding-left: 0;
    top: 0;
    font-size: 18px;
    left: 0;
;
}
.product-in-list{
    font: inherit;
    height: 100%;
}
.pic-in-list{
    width: 41%;
    height: 41%;
    padding-left: 29%;
}
.pic-in-details{
    /*position: center;*/
    height: 450px;
    width: 450px;
}


.pic-in-details tr{
    width: 450px;
    vertical-align: middle;
    text-align: center;
}
.products-list{
    font: inherit !important;
}
.product-details{
    width: auto;
    padding-top: 25px;
}

.product-details td{
    height: 450px;
    width: 450px;
}
.product-submit-to-cart{
    margin: 10px;
    padding-left: 0;
    top: 0;
    font-size: 18px;
    position: static;
    width: 150px;
    left: 0;
}
.products-button{
    margin: 5px;
}
.admin-product-list-form{
    padding: 5% 5% 15%;
    top: 0;
    font-size: 18px;
    position: absolute;
    width: 90%;
    left: 0;
    /*font-family: inherit !important;*/
}
.admin-form{
    top: 25px;
    padding-bottom: 15%;
}
.admin-pic{
    width: 50px;
    position: center;
}

/*ul {*/
    /*padding-left: 0;*/
    /*padding-top: 0;*/
/*}*/

/*Error*/
.redirected_error
{
    position: center;
}


.blocked-user{
    color: red;
    font-weight: bold;
}
.users-list-form{
    width: 90%;
    height: 100%;
    padding-left: 5%;
    padding-top: 5%;
    padding-right: 5%;
    left: 0;
    top: 0;
    font-size: 18px;
    position: absolute;
    font-family: inherit !important;
}
.block-user{
    background-color: rgba(179, 56, 27, 0.84);
}
.unblocked-user{
    background-color: #4c813b;
}
.main-admin{
    margin-left: 0;
    padding: 10px;
    padding-bottom: 200px;
}

.center-button{
    width: 40%;
    margin-left: 60%;
    margin-right: 10%;
}
.summary-input{
    height: 100px;
    width: 75%;
}

.history{
    padding: 5px;
    top: auto;
    width: 98%;
    left:auto;
}

.history-table{
    width: auto;
    vertical-align: middle;
    text-align: center;
}

.main .history{
    width: 78%;
}
